[submodule "themes/hugo-bootstrap"]
	path = themes/hugo-bootstrap
	url = https://github.com/mmrath/hugo-bootstrap
[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/spf13/hyde.git
[submodule "themes/forty"]
	path = themes/forty
	url = https://github.com/MarcusVirg/forty
[submodule "public"]
	path = public
	url = git@github.com:utrescu/utrescu.github.io.git
	branch = master
